- include_stylesheet 'admin/assets'
- include_javascript 'admin/assets'

#attachment_list.assets
  %ul#attachment_fields{:class => @page.page_attachments.empty? ? 'empty' : ''}
    = render :partial => 'admin/page_attachments/attachment', :collection => @page.page_attachments
  %p.note
    = link_to t('clipped_extension.assets'), '#attach_asset', :class => 'popup'
    %span.message
      - if @page.page_attachments.empty?
        = t('clipped_extension.no_attached_assets')