- include_stylesheet 'admin/assets'
- include_javascript 'ZeroClipboard'
- include_javascript 'admin/assets'

#attachment_list{:class => @page.page_attachments.empty? ? 'empty' : 'populated'}
  %label= t('assets_extension.attached_assets')
  %ul#attachment_fields
    - fields_for @page do |f|
      - f.fields_for :page_attachments do |paf|
        = render :partial => 'admin/page_attachments/attachment', :locals => {:attachment_form => paf}