- include_stylesheet 'admin/assets'
- include_javascript 'admin/assets'

#attachment_list.assets
  %ul#attachment_fields{:class => @page.page_attachments.empty? ? 'empty' : ''}
    - fields_for @page do |f|
      - f.fields_for :page_attachments do |paf|
        = render :partial => 'admin/page_attachments/attachment', :locals => {:attachment_form => paf}
  %p.note
    = link_to t('assets_extension.assets'), '#attach_asset', :class => 'popup'
    %span.message
      - if @page.page_attachments.empty?
        = t('assets_extension.no_attached_assets')

