- include_stylesheet 'admin/assets'
- include_javascript 'ZeroClipboard'
- include_javascript 'admin/assets'

#page-assets
  .controls
    = link_to t('assets_extension.upload_asset'), '#upload-asset', :class => 'popup'
    = link_to t('assets_extension.attach_existing'), '#attach-asset', :class => 'popup'
  %h2
    = t('assets_extension.attached_assets')
  #attachments.box
    = render :partial => 'admin/page_attachments/attachment_list'