#asset-bucket{ :style => "display: none" }
  = render :partial => "/admin/assets/assets_container"
  
  %p.note
    = automatic_size_descriptions
    = t('clipped_extension.images_automatically_created')
  #close-link     
    = link_to t("close"), "#"
