- asset ||= nil
- if asset
  - asset_type = asset.image? ? "image" : "link"
  - dom_id = "asset_#{asset.id}"
  - cssclass = "#{asset_type} asset"
  - cssclass << " attached" if @page && asset.attached_to?(@page)

  %li{:class => cssclass, :id => dom_id}
    = link_to image_tag(asset.thumbnail(:sample)), asset.thumbnail, :title => asset.title
        