- include_stylesheet 'admin/assets' 

%h1
  = t("assets_extension.refresh_assets")
%p.confirmation
  = t("assets_extension.confirm_refresh_assets")
%p.confirmation
  =t('assets_extension.refresh_assets_rake_task')

%form{:action => regenerate_admin_assets_path, :method => :post}
  .buttons
    %input.button{:type => "submit", :value => t("assets_extension.refresh_assets")}
    = t("or")
    = link_to t("cancel"), admin_assets_path