rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3

before_script: "./spec/ci/before_script"

script: "./spec/ci/script"

env:
  - RADIANT_VERSION=master DB=mysql
  - RADIANT_VERSION=master DB=postgres
  - RADIANT_VERSION=1.0.0.rc4 DB=mysql
  - RADIANT_VERSION=1.0.0.rc4 DB=postgres

notifications:
  recipients:
    - git@johnmuhl.com
  irc: "irc.freenode.org#radiantcms"
